<nav class="border rounded pt-3 px-3 mb-3 bg-info" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="--bs-breadcrumb-divider-color: --bs-body-bg;">
        <li class="breadcrumb-item"><a href="/" class="text-white">Tarefas</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Cadastrar</li>
    </ol>
</nav>
<div class="border rounded p-4">
    <p class="fw-semibold fs-6 mb-4">Cadastrar nova tarefa</p>
    {{>_msg}}
    <form action="/tarefa/cadastrar" method="post" id="formTarefa">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título..."> <label
                for="titulo">Título</label>
            <div class="invalid-feedback" id="erro_titulo"></div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição..."> <label
                for="descricao">Descrição</label>
            <div class="invalid-feedback" id="erro_descricao"></div>
        </div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="data" name="data" placeholder="Data..."> <label
                for="data">Data</label>
            <div class="invalid-feedback" id="erro_data"></div>
        </div>        
        <div class="form-floating mb-3">
            <input type="time" class="form-control" id="hora" name="hora" placeholder="Hora..."> <label
                for="hora">Hora</label>
            <div class="invalid-feedback" id="erro_hora"></div>
        </div>
    </form>
    <button class="btn btn-dark" onclick="validarTarefa()">Cadastrar</button>
</div>