<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h2 class="display-4 fw-bold lh-1 mb-3">Anota Aí</h2>
            <p class="col-lg-10 fs-4">Sistema de organização de tarefas</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <div class="card border-0 shadow rounded-3 my-3">
                <div class="card-body p-4 p-sm-5 p-3">
                    <h4 class="card-title text-center mb-4 fs-5">Login</h4>
                    <form action="/cadastrar" method="post" id="formCadastrarUsuario">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome..."> <label
                                for="nome">Nome</label>
                            <div class="invalid-feedback" id="erro_nome"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email...">
                            <label for="email">Email</label>
                            <div class="invalid-feedback" id="erro_email"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha...">
                            <label for="senha">Senha</label>
                            <div class="invalid-feedback" id="erro_senha"></div>
                        </div>
                        <div class="form-check p-1 mb-3">
                            <a href="/login">Já sou
                                cadastrado</a>
                        </div>
                    </form>
                    <button class="btn btn-dark" onclick="validarCadastrarUsuario()">Cadastrar</button>
                    {{>_msg}}
                </div>
            </div>
        </div>
    </div>
</div>